<div class="dropdown li-user-picker">
  <button type="button" class="btn btn-default btn-sm dropdown-toggle">
    <i class="fa fa-users"></i> Users
  </button>
  <ul class="dropdown-menu">
    <li ng-repeat="user in users" class="li-user">
      <a ng-click="setPicked(user)">
        <img ng-src="/assets/images/avatars/{{user.avatar}}" class="li-user-avatar" />
        <span>{{user.username}}</span>
        <i class="fa fa-check-circle" ng-show="user.id === currentUser.id"></i>
      </a>
    </li>
  </ul>
</div>

