<!doctype html>
<html ng-app="li.main.app">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title ng-bind="$state.current.data.title"></title>
    <!-- build:css /styles/style.css -->
    <link rel="stylesheet" href="/.tmp/assets/main/styles/main.css">
    <link rel="stylesheet" href="/bower_components/angular-bootstrap/">
    <!-- endbuild -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="/favicon.png">
    <base href="/" />
  </head>
  <body ng-cloak>
    <a ui-sref="home">Home</a>
    <a ui-sref="import">Import</a>
    <div ui-view></div>

    <!-- External deps for CDN -->
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="/bower_components/socket.io-client/dist/socket.io.js"></script>
    <script type="text/javascript" src="/bower_components/ng-file-upload/angular-file-upload.js"></script>

    <!-- build:js /js/scripts.js -->

    <!-- bower_components -->
    <script type="text/javascript" src="/bower_components/angularSails/lib/sails.io.js"></script>
    <script type="text/javascript" src="/bower_components/angularSails/dist/ngsails.io.js"></script>
    <script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <!-- Core libs -->
    <script type="text/javascript" src="/assets/main/js/app.js"></script>
    <script type="text/javascript" src="/.tmp/assets/main/js/app-tpls.js"></script>
    <script type="text/javascript" src="/assets/main/js/filters/unsafe/unsafe.js"></script>
    <script type="text/javascript" src="/assets/main/js/directives/welcome/welcome.js"></script>


    <!-- user-import -->
    <script type="text/javascript" src="/assets/main/js/directives/user-import/user-import.js"></script>
    <!-- __new_directive_placeholder__ -->

    <!-- endbuild -->

    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  </body>
</html>
