.li-app-site-nav {
  .li-user-picker {
    margin-top: 11px;

    .dropdown-menu {
      left: -93px;
    }
  }

  .li-user {
    margin-top: 12px;
    margin-right: 5px;

    .li-user-avatar {
      max-width: 28px;
      max-height: 28px;
    }
  }


  .li-messages-new {
    margin: 18px 10px 0 0;
  }
}